.product-overlay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.addItemBtn {
  margin-bottom: 50px;
}

.card-body {
  position: relative;
}

.card-img-top {
  width: 100%;
  height: 180px;
}

.sale {
  color: #ff0000;
  font-weight: bold;
  position: absolute;
  top: 15px;
  left: 85px;
  font-size: 12px;
}
