<div class="container mt-4">
  <h1 class="display-1">
    Products:
  </h1>
  <hr>
  <div class="product-overlay mb-5">
    <div class="card mt-4" style="width: 14rem;" *ngFor="let product of products">
      <img class="card-img-top"
           src="{{product?.imgUrl}}"
           alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{product?.name}}</h5>
        <span *ngIf="product.sale" class="sale">SALE!</span>
        <p class="card-text">{{product?.price | currency}} for {{product?.qty}}</p>
          <button class="btn btn-success " (click)="addProduct(product)">Put in basket</button>
      </div>
    </div>
  </div>
</div>
